<% for(var albumName in collection.albums()) { %>
  <% if(collection.albums().hasOwnProperty(albumName) && albumName) { %>
    <li>
      <img src="<%= collection.albums()[albumName][0].get('imageUrl') %>" />
      <div class="album-name">
        <%= collection.albums()[albumName][0].get('artistName') %>:
        <%= albumName %>
      </div>
    </li>
  <% } %>
<% } %>