<div class="text-center">
  <h1 class="mega">Albums</h1>
  <p>Most recent last.fm album scrobbles</p>
</div>

<div class="search-form-container">
  <form>
    <div class="input lock-x text-center">
      <input type="text" class="search-field" placeholder="Enter a last.fm username" />
      e.g. domchristie or simioliolio
    </div>
  </form>
</div>
<div class="results"></div>

<div class="text-center">
  <% if(!Albums.currentUser) { %>
    To see more albums, <a href="/oauth/twitter">sign in with Twitter</a>
  <% } else { %>
    You are signed in as <%= Albums.currentUser.get('username') %>
  <% } %>
</div>