<div class="text-center">
  <h1 class="mega">Albums</h1>
</div>

<div class="search-form-container">
  <form>
    <div class="input lock-x">
      <input type="text" class="search-field" placeholder="Enter a last.fm username" />
    </div>
  </form>
</div>
<div class="results"></div>