<div class="text-center">
  <h1 class="mega">Albums</h1>
</div>

<div class="search-form-container">
  <form>
    <div class="input lock-x text-center">
      <input type="text" class="search-field" placeholder="Enter a last.fm username" />
      e.g. domchristie or simioliolio
      <% if(!Albums.currentUser) { %>
        <div><a href="/oauth/twitter">Login with Twitter</a></div>
      <% } %>
    </div>
  </form>
</div>
<div class="results"></div>