body,
input {
  font-family: 'Helvetica Neue', sans-serif;
}
h1 {
  margin: 0;
  letter-spacing: -.04em;
}
.mega {
  font-size: 5.0625em;
  font-weight: 700;
  color: #D51007;
}

.text-center {
  text-align: center;
}